<% if current_user.admin == true %>

<div style="padding: 100px 0">
	<h1>Add a new article</h1>
		<%= render "form" %>
	</div>

<% else %>

	<div style="padding: 100px 0">
		<h3>You are not authorized to view this page</h3>
	</div>

<% end %>


