<!-- CONTACT FORM -->
	<section class="contact-section">
		<!-- INTRO -->
		<div class="section-intro contact-intro">
			<h2>Get in touch</h2>
			<p>We'd love to hear from you.</p>
		</div>
		<!-- FORM -->
		<form class="col-md-8 offset-md-2 col-xs-12">
			<div class="form-group">
				
				<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Your message"></textarea>
			</div>
		  	<div class="form-row">
				<div class="form-group col-md-9">
				
					<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
				</div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
			
			
		</form>
	</section>