<!-- FOOTER -->
	<footer class="section footer-section">
		<div class="row top-row">

			<div class="col-md-6">
				<a class="navbar-brand" href="#">
					<%= image_tag("vibrationmaster_logo_02.png", :alt => "Vibrationmaster Logo", :class => "footer-logo") %>
				</a>
			</div>
			<div class="col-md-6 footer-icons">social icons</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-3">
				<h3>Address:</h3>
				<p>
					Vibrationmaster Technology Centre s.à.r.l<br>
					Rue du Commerce, Technoport 3A <br>
					L-3895 Foetz <br>
					Luxembourg
				</p>
				<a href="tel:+352-24-25-90-68">+352 24 25 90 68</a>
			</div>
			<div class="col-md-6 col-lg-3">
				<h3>Products</h3>
				<p>Portable series</p>
				<p>R&D Series</p>
				<p>Contract testing</p>
			</div>
			<div class="col-md-6 col-lg-3">
				<h3>Knowledge center</h3>
			</div>
			<div class="col-md-6 col-lg-3">
				<h3>About</h3>
			</div>
		</div>
		<p class="footer-copyright">&copy;<%= Date.today.year %> Vibrationmaster Technology Centre s.à.r.l. All rights reserved.</p>
	</footer>