	<section id="hero-section">
		<div class="hero hero-image" style="background-image: url(<%= image_path 'j121-cover3.jpg'%>)">
		</div>
		<div class="hero hero-gradient">
		</div>
<!-- 		<div class="hero hero-overlay">
		</div> -->
		<div class="hero hero-overlay" style="background-image: url(<%= image_path 'overlay-pattern.png'%>)">
		</div>

		<div class="hero hero-content d-flex flex-column align-items-center justify-content-center" style="color:white">
			<h2>vibrationmaster - industry leading solutions in</h2>
			<h1>Fastener testing and validation</h1>
			<!-- <h3>Subheader comes here, yes it does.</h3> -->
			<button type="button" class="btn btn-light">Get in touch</button>
		</div>
	</section>

	<!-- GREEN DIVIDER SECTION -->
	<section class="bgr-green section-green"> 
		<div class="container">
			xxxxxx
		</div>
	</section>

	<!-- PRODUCT CARDS -->
	<section class="product-sectionxxx bgr-medium-lightxxx ">
		<!-- INTRO -->
		<div class="section-intro">
			<h2>What can we do for you</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
		</div>
		<!-- CARDS -->
		<div class="product-container">
			<div class="product-item">
				<h3>Portable series</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div>
					<img src="img/product_images01.png" alt="J121" class="product-image">
				</div>
			</div>
			<div class="product-item">
				<h3>Research and development series</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<div>
					<img src="img/product_images02.png" alt="J900" class="product-image">
				</div>
			</div>
			<div class="product-item">
				<h3>Contract testing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vero mollitia alias delectus tenetur! Ullam vitae.</p>
				<div>
					<img src="img/product_images03.png" alt="Contract Testing" class="product-image">
				</div>
			</div>
		</div>
	</section>




	<!-- NEWS CARDS -->
	<section class="news-section">
		<!-- INTRO -->
		<div class="section-intro news-intro">
			<h2>We've got the know-how</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas pariatur mollitia error deleniti harum illo provident atque laboriosam expedita a ipsam voluptates.</p>
		</div>
		<!-- CARDS -->
		<div class="news-container">

			<div class="news-card">
				<h4>Fastener science</h4>
				<h3>Why threaded fasteners self-loosen </h3>
				<div class="news-image" style="background-image: url('img/news_images01.jpg');">
					<div class="news-image-overlay"></div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit nobis laboriosam, voluptas iusto provident mollitia dolorum quasi, ex fugiat fugit vitae, commodi nemo quis aspernatur voluptatibus? Iure omnis, eveniet?</p>
				<a href="#">Learn more</a>
			</div>

			<div class="news-card">
				<h4>Case study - Solar energy industry</h4>
				<h3>Header</h3>
				<div class="news-image" style="background-image: url('img/news_images02.jpg');">
					<div class="news-image-overlay"></div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit nobis laboriosam, voluptas iusto provident mollitia dolorum quasi, ex fugiat fugit vitae, commodi nemo quis aspernatur voluptatibus? Iure omnis, eveniet?</p>
			</div>
			<div class="news-card">
				<h4>Tag</h4>
				<h3>Header</h3>
				<div class="news-image" style="background-image: url('img/news_images03.jpg');">
					<div class="news-image-overlay"></div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi velit nobis laboriosam, voluptas iusto provident mollitia dolorum quasi, ex fugiat fugit vitae, commodi nemo quis aspernatur voluptatibus? Iure omnis, eveniet?</p>
			</div>




		</div>
	</section>



