	<section id="hero-section">
		<div class="hero hero-image" style="background-image: url(<%= image_path 'j121-cover3.jpg'%>)">
		</div>
		<div class="hero hero-gradient">
		</div>
		<div class="hero hero-overlay">
		</div>
		<div class="hero hero-content d-flex flex-column align-items-center justify-content-center" style="color:white">
			<h2>vibrationmaster - industry leading solutions in</h2>
			<h1>Fastener testing and validation</h1>
			<!-- <h3>Subheader comes here, yes it does.</h3> -->
			<button type="button" class="btn btn-light">Get in touch</button>
		</div>
		
	</section>